<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="assets/images/tradiuus-icon.png" alt="Tradiuus" class="logo">
      <span class="logo-text">TRADIUUS</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="estimate-time-container">
    <h1 class="page-title">Update Estimate Response Time</h1>
    
    <p class="message">
      Hi, I'll be available in {{ responseTime }} mins to visit your home and provide you with an estimate. Thanks and I'll see you soon.
    </p>
    
    <div class="time-input-container">
      <button class="time-button decrease" (click)="decreaseTime()">
        <ion-icon name="remove"></ion-icon>
      </button>
      <div class="time-display">
        <input type="text" [(ngModel)]="responseTime" readonly>
      </div>
      <button class="time-button increase" (click)="increaseTime()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>

    <p class="note">
      You are required to response within a specific time. The customer shall have your cell number and may text you.
    </p>

    <ion-button expand="block" class="update-button" (click)="updateResponseTime()">
      Update
    </ion-button>
  </div>
</ion-content> 